<div class="container">
  <h2 class="mt-3"><i class="fas fa-user-edit">Edit&nbsp;Mypage</i></h2>
  <div class="row">
    <div class="col-7 offset-2 mt-4">
      <%= form_with model:@user, local:true do |f| %>
      <div>
        <div class="mb-2 mt-3"><strong>ProfileImage</strong></div>
        <%= f.attachment_field :profile_image  %>
        <small class="form-text text-muted">Please input your image</small>
      </div>
      <div>
        <div class="mb-2 mt-3" ><strong>Name</strong></div>
        <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"Name",class: "form-control"%>
        <small class="form-text text-muted">Please input your name</small>
      </div>
      <div>
        <div class="mb-2 mt-3"><strong>Introduction</strong></div>
        <%= f.text_area :introduction, rows: "5",placeholder: "Introduction",class: "form-control"%>
        <small class="form-text text-muted">Please input your introduction</small>
        <button class="btn btn-info mt-3">Update
          <% f.submit %>
        </button>
      </div>

      <% end %>
    </div>
  </div>
</div>
