
<div class="card bg-dark text-white">
<img class="bd-placeholder-img bd-placeholder-img-lg card-img"src="assets/keyv.jpg" width="100%" height="800"></img>
  <div class="card-img-overlay text-center">
    <h1 class="card-title"><i class="fas fa-headphones-alt">Welcome Musics</i></h1>
    <div style="margin-top:100px ">
      <button class="card-text btn btn-link " style="width:300px"><%= link_to new_user_registration_path ,class: "text-white" do %><h1><i class="fas fa-user-plus">&nbsp;Sign Up</i></h1><% end %></button>
      <button class="card-text btn btn-link" style="width:300px"><%= link_to new_user_session_path ,class: "text-white" do%><h1><i class="fas fa-sign-in-alt">&nbsp;Log In</i></h1><% end %></button>
    </div>

    </div>
  </div>
</div>