<div class="new-comment">
<%= form_with(model:[@music, @music_comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "Comment Post" %>
<% end %>
</div>
